div {
  //width: 200px;
  //height: 200px;
  //display: block;
  //position: relative;
}

div::after {
  content: "";
  background: url("hearts.jpg");
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}